
.icon-eitaa:before { content: '\e800'; } /* '' */
.icon-bale:before { content: '\e801'; } /* '' */
.icon-rubika:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-fanavardev-logo-web:before { content: '\e804'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
