*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(48, 47, 47);
    color: #e2bb58;
}

header {
    background-color: rgb(90, 90, 90);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
header .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    height: 50px;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 90);
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: #e2bb58;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}
.navbar ul a:hover {
    color: #e0e258;
    border: solid 3px #e0e258;
    border-left: none;
    border-right: none;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: #e2bb58;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: rgb(90, 90, 90);
}
.close-nav button:hover {
    color: rgb(90, 90, 90);
    background: #e0e258;
}

.menu-bar button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #e2bb58;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid rgb(90, 90, 90);
    border-bottom: 3px solid rgb(90, 90, 90);
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid rgb(90, 90, 90);
    margin: 6px 0;
}
.menu-bar button:hover {
    background: #e0e258;
}
.menu-bar button:hover i {
    border-color: rgb(90, 90, 90);
}

.container {
    background-color: rgb(48, 47, 47);
    color: #e2bb58;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}
.mobile-sicial-media{
    display: none;
}
@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
    .mobile-sicial-media{
        display: none;
    }
}